.BlogHome {
    background-image: url("blog-background.jpg");
    background-position: center top;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.BlogsIntro {
    margin-top: 70px;
    margin: 25px;
}

.AllBlogs {
    align-items: center;
    margin-top: 80px;
}
