body {
    background-color:rgb(39, 29, 29);
    color: white;

}

#Home,
#About,
#Skills,
#Resume,
#Projects,
#Contact,
#Blogs {
    height: auto;
}

h3 {
    color: white;
    text-align: center;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: rgb(117, 117, 146) !important;
    text-decoration-color: blue;
}

.nav-item {
    color: white;
}

