body {
    background-color:rgb(39, 29, 29);
    color: white;

}

#Home,
#About,
#Skills,
#Resume,
#Projects,
#Contact,
#Blogs {
    height: auto;
}

html {
    scroll-behavior: smooth;
}

#Home {
    background-color: blueviolet;
}

h3 {
    color: white;
    text-align: center;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: rgb(132, 24, 165) !important;
}

.navbar.scrolled {
    background-color: #49978D;
  }

.nav-item {
    color: white;
}

.navbar-brand-text {
    text-shadow: 2px 2px #FF0000;
}

