{% extends 'blogs/base.html' %}

{% block title %} | {{ blog.blog_name }} {% endblock %}

{% load static %}  

{% block content %}
<div style="max-width: 800px; margin: 0 auto; padding: 20px;">
  <br><br><br>
  <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
    <h1 style="text-align: center; font-weight: 600;">{{ blog.blog_name }}</h1>
    <br><br>
    <p>By <b>IAN MALOBA</b><br>
    <i style="font-size: smaller;">{{ blog.blog_date }}</i> | {{ blog.blog_read_time }} mins read</p>
    <img src="{{ blog.blog_image.url }}" class="rounded-t-xl" style="width: 100%; height: 300px; object-fit: cover; display: block; margin: 0 auto; border-radius: 6px;" title="{{ blog.blog_name }}">
    <br>

  <!-- Copy Blog Link button -->
  <button onclick="copyPageLink()" style="color: aqua; background-color: black; border-radius: 5px; font-size: small;">Copy Blog Link</button>

  <!-- Copy Blog Link script -->
  <script>
    function copyPageLink() {
      var copyText = window.location.href;

      // Create a temporary element (textarea) to hold the text
      var tempInput = document.createElement("textarea");
      tempInput.value = copyText;

      // Append the textarea to the body
      document.body.appendChild(tempInput);

      // Select the text in the textarea
      tempInput.select();
      tempInput.setSelectionRange(0, 99999); // For mobile devices

      try {
        // Copy the text inside the textarea
        document.execCommand("copy");
        // Remove the temporary textarea
        document.body.removeChild(tempInput);
        // Alert the copied text
        alert("Link Copied!");
      } catch (err) {
        console.error('Unable to copy text: ', err);
        alert("Failed to copy link. Please try again.");
      }
    }
  </script>

  <hr>
  <br>
  <div style="text-align: justify; font-size: 17px; line-height: 1.6;">
    {{ blog.body|safe }}
  </div>
  <br><br>

  <!-- Previous and Next buttons -->
  <div style="display: flex; justify-content: space-between;">
    {% if prev_blog %}
      <a href="{% url 'blog:blog_body' slug=prev_blog.slug %}" class="btn btn-primary">&lt;&lt; Previous</a>
    {% endif %}
  
    {% if next_blog %}
      <a href="{% url 'blog:blog_body' slug=next_blog.slug %}" class="btn btn-primary ml-2">Next &gt;&gt;</a>
    {% endif %}
  </div>
  <br>
  <div style="text-align: center;">
    <a class="btn btn-success" style="color: whitesmoke;" href="{% url 'blog:index' %}"><i>HOME</i></a>
  </div>
  </div>
  
{% endblock %}
