{% extends 'blogs/base.html' %}

{% block title %} | {{ blog.blog_name }} {% endblock %}

{% load static %}  

{% block content %}
<br><br><br>
<div style="max-width: 800px; margin: 0 auto; padding: 20px;">
  <h1 style="text-align: center; font-weight: 600;">{{ blog.blog_name }}</h1>
  <br><br>
  <p>By <b>IAN MALOBA</b><br>
  <i style="font-size: smaller;">{{ blog.blog_date }}</i> | {{ blog.blog_read_time }} mins read</p>
  <img src="{{ blog.blog_image.url }}" class="rounded-t-xl" style="width: 100%; height: 300px; object-fit: cover; display: block; margin: 0 auto; border-radius: 6px;" title="{{ blog.blog_name }}">
  <br>
  <hr>
  <br>
  <div style="text-align: justify; font-size: 17px; line-height: 1.6;">
      {{ blog.body|safe }}
  </div>
  <br><br><br>

  <button id="backButton" type="button" class="btn btn-success">Back</button>

  <script>
document.getElementById("backButton").addEventListener("click", function() {
    // Go back to the previous page
    window.history.back();
});
</script>
</div>






{% endblock %}
