{% extends 'blogs/base.html' %}

{% block title %} | {{ blog.blog_name }} {% endblock %}

{% load static %}  

{% block content %}

{{ blog.blog_name }}
<img src="{{ blog.blog_image.url }}" class="rounded-t-xl" style="width: 50%; height: 50%; object-fit: cover;" title="{{ blog.blog_name }}">

{{ blog.body|safe }}
{{blog.blog_name}}


<section class="footer" style="color: aliceblue;">
    <div class="footer">
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p class="footer-paragraph justify-content-center">
              I am an ambitious developer, a highly motivated individual with a keen eye for 
              detail and always looking for ways to optimize, improve my code and learn more.
            </p>
          </div>
          <div class="col-md-6">
            <div>          
              <div class="mt-3">
                <div class="my-contact-title-socila-media text-center">Social Media</div>
              </div>
              {% for contact in my_email %}
                <div class="d-flex justify-content-center mt-3">
                  <div class="mx-2">
                    <a href="{{ contact.linkedln }}" target="_blank"><iconify-icon icon="devicon:linkedin" style="color: white; font-size: 23px;"></iconify-icon></a>
                  </div>
                  <div class="mx-2">
                    <a href="{{ contact.github }}" target="_blank"><iconify-icon icon="bytesize:github" style="color: white; font-size: 23px;"></iconify-icon></a>
                  </div>
                  <div class="mx-2">
                    <a href="{{ contact.twitter }}" target="_blank"><iconify-icon icon="logos:twitter" style="color: white; font-size: 23px;"></iconify-icon></a>
                  </div>
                  <div class="mx-2">
                    <a href="{{ contact.codepen }}" target="_blank"><iconify-icon icon="ant-design:codepen-circle-filled" style="color: white; font-size: 23px;"></iconify-icon></a>
                  </div>
                  <div class="mx-2">
                    <a href="{{ contact.whatsapp }}" target="_blank"><iconify-icon icon="logos:whatsapp-icon" style="color: white; font-size: 23px;"></iconify-icon></a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
    
      <div class="Copyright">
        <hr class="footer-line">
        <p><i>&copy; <span id="currentYear"></span> All rights reserved</i></p>
        <p><i>Made by Ian Maloba</i></p>
      </div>
      
      <script>
        const currentYear = new Date().getFullYear();
        document.getElementById("currentYear").textContent = currentYear;
      </script>
      
      
    </div>
  </section>

{% endblock %}
