{% extends 'blogs/base.html' %}

{% block title %} {% endblock %}

{% load static %}  

{% block content %}

<!-- Blog Home section-->

<section class="BlogHome">
  <div class="BlogsIntro">
    <br><br>
    <h1 style="color: aliceblue; text-align: center; font-family: 'Courier New', monospace;"><u>HERE IS THE LANDING PAGE OF MY BLOGS</u></h1>
    <br><br><br>
    <p class="aurelius-quote" style="color: aliceblue; font-size: 18px; font-family: cursive;">Allow me share this guiding quote by <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" target="_blank">Marcus Aurelius</a>: 
      <br>
      <i>
        <b>
          "Never let the future disturb you. 
          You will meet it, if you have to, 
          with the same weapons of reason which today arm you against the present."
        </b>  
      </i>
    </p>
  </div>
  <br><br>
  <p style="color: aliceblue; text-align: center; ">I'm just throwing down whatever pops into my head - life stuff, random thoughts, you name it. Warning: I'm no pro writer, so brace yourself for errors and a sprinkle of casual talk. </p>
  <p style="font-family: cursive; text-align: center;"><a href="#latest_articles" style="text-decoration: none; color: rgb(128, 213, 224);"><button class="btn btn-primary">Check out my latest articles below 👇</button></a></p> 
</section>


<!-- AllBlogs section-->
<section id="AllBlogs">
  <div>
    <p id="latest_articles">ALL BLOGS</p>
    <br>
    {% for blog in blogs %}
    <a href="{% url 'blog:blog_body' blog.id %}"><h2>- {{ blog.blog_name }}</h2></a>
    <a href="{% url 'blog:blog_body' blog.id %}">
      <img src="{{ blog.blog_image.url }}" class="rounded-t-xl" style="width: 50%; height: 50%; object-fit: cover;" title="{{ blog.blog_name }}">
    </a>
    {% endfor %}
  </div>
</section>

<section id="blogFooter">
  <div class="contact">
    <p>Below ar emy contact details...</p>
  </div>

  <div class="footerAbout">
    <p>........</p>
  </div>
</section>

{% endblock %}

