{% extends 'blogs/base.html' %}

{% block title %} {% endblock %}

{% load static %}  

{% block content %}

<!-- Blog Home section-->

<section class="BlogHome">
  <div class="BlogsIntro">
    <br><br><br>
    <h1 style="color: aliceblue; text-align: center; font-family: 'Courier New', monospace;"><u>THE LANDING PAGE OF MY BLOGS</u></h1>
    <br><br><br>
    <p class="aurelius-quote" style="color: aliceblue; font-size: 18px; margin: 5px;">Allow me share this guiding quote by <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" target="_blank">Marcus Aurelius</a>: 
      <br>
      <i>
        <b style="font-family: cursive;">
          "Never let the future disturb you. 
          You will meet it, if you have to, 
          with the same weapons of reason which today arm you against the present."
        </b>  
      </i>
    </p>
  </div>
  <br><br>
  <p style="color: aliceblue; margin: 10px;">I'm just throwing down whatever pops into my head - life stuff, my experiences, random thoughts, you name it. Warning: I'm no pro writer, so brace yourself for errors and a sprinkle of casual talk. </p>
  <p style="font-family: cursive; text-align: center;"><a href="#latest_articles" style="text-decoration: none; color: rgb(128, 213, 224);"><button class="btn btn-primary">Check out my latest articles below 👇</button></a></p> 
</section>

<section>
  {% if query %}
  <div>
      <div>
      <!-- check if there is a result in the database-->
      {% if posts %}
          <!-- loop through search query if there is a result -->
          {% for post in posts %}
              <div>
                  <!-- return search query -->
                  <p>{{post.title}}</p>
              </div>
          {% endfor %}
          <!-- return a message if there are no results found. -->
      {% else %}
          <h3>No search results found</h3>
      {% endif %}
      </div>
  </div>
{% else %}
  <h1></h1>
{% endif %}
</section>


<!-- AllBlogs section-->

<!-- AllBlogs section-->

<!-- AllBlogs section-->

<!-- AllBlogs section-->

<!-- AllBlogs section-->

<section class="wrapper">
  <div class="container-fostrap">
    <br><br>
    <p id="latest_articles" style="font-family: 'Courier New', monospace; font-size: 20px;">Latest Articles</p>
    <br><br>
    <div class="content">
      <div class="container">
        <div class="row">
          {% if query %}
            {% for post in posts %}
              <div class="col-xs-12 col-sm-4 blog-item">
                <div class="card">
                  <a class="img-card" href="{% url 'blog:blog_body' slug=post.slug %}">
                    <img src="{{ post.blog_image.url }}" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="{% url 'blog:blog_body' slug=post.slug %}">{{ post.blog_name }}</a>
                    </h4>
                    <p style="font-size: smaller;"><i>{{ post.blog_date }}</i> | {{ post.blog_read_time }} mins read.</p>
                    <p class="">{{ post.blog_card_intro }} ...</p>
                  </div>
                  <div class="card-read-more">
                    <a href="{% url 'blog:blog_body' slug=post.slug %}" class="btn btn-link btn-block">Read More</a>
                  </div>
                </div>
              </div>
            {% endfor %}
            <br>
            <a href="{% url 'blog:index' %}"><button id="backButton" type="button" class="btn btn-success" style="text-align: left !important;">Back</button>
            </a>
            <br><br>
          {% else %}
            {% for blog in blogs %}
              <div class="col-xs-12 col-sm-4 blog-item {% if forloop.counter > 6 %}hidden{% endif %}">
                <div class="card">
                  <a class="img-card" href="{% url 'blog:blog_body' slug=blog.slug %}">
                    <img src="{{ blog.blog_image.url }}" />
                  </a>
                  <div class="card-content">
                    <h4 class="card-title">
                      <a href="{% url 'blog:blog_body' slug=blog.slug %}">{{ blog.blog_name }}</a>
                    </h4>
                    <p style="font-size: smaller;"><i>{{ blog.blog_date }}</i> | {{ blog.blog_read_time }} mins read.</p>
                    <p class="">{{ blog.blog_card_intro }} ...</p>
                  </div>
                  <div class="card-read-more">
                    <a href="{% url 'blog:blog_body' slug=blog.slug %}" class="btn btn-link btn-block">Read More</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div id="loadMoreBtn" class="text-center">
          <button class="btn btn-primary">Load All</button>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var blogsToShow = 3;
  var blogs = document.querySelectorAll('.blog-item');

  // Hide additional blogs initially
  for (var i = blogsToShow; i < blogs.length; i++) {
    blogs[i].style.display = 'none';
  }

  // Show more blogs on button click
  document.getElementById('loadMoreBtn').addEventListener('click', function() {
    for (var i = blogsToShow; i < blogs.length; i++) {
      blogs[i].style.display = 'block';
    }
    document.getElementById('loadMoreBtn').style.display = 'none';
  });
});
</script>



{% endblock %}

