{% extends 'core/base.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}


<!-- Home section-->

<section class="Home">
  <br>
    <div class="container mt-5">
        <div class="row justify-content-between align-items-center">
          <div class="col-sm-6 col-md-6 text-center">
            <img src="media/home_images/my_official_pic.jpg" class="official-img" alt="official-image" style="border-radius: 5%;" height="470px" width="360px">
            <br>
            <br>
          </div>
          <div class="col-sm-6 col-md-6 text-center">
            <h1 class="name">Ian Maloba</h1>
            <div class="description">
              <p class="description">I'm a <span class="auto-type"></span></p>
            </div>
            <br>
            <br>
            <p>#Download my CV Button#</p>
            <br>
          </div>
        </div>
    </div>

  <script>
       var typed = new Typed(".auto-type", {
        strings: ["Full Stack Developer", "Software Engineer", "Freelancer"],
        typeSpeed: 50,
        backSpeed: 35,
        loop: true
       })
  </script> 

</section>


<!-- About section-->

<section id="About">
    <br>
    <br>
    <br>
    <br>
    <br>
<h2>ABOUT</h2>
<br>
<br>
<br>
<br>
<br>
</section>


<!-- Skills section-->

<section id="Skills">
<br>
<br>
<br>
<br>
<br>
<h2>SKILLS</h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Resume section-->

<section id="Resume">
<br>
<br>
<br>
<br>
<br>
<h2>RESUME</h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Projects section-->

<section id="Projects">
<br>
<br>
<br>
<br>
<br>
<h2>PROJECTS</h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Contact section-->

<section id="Contact">
<br>
<br>
<br>
<br>
<br>
<h2>CONTACT</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br></section>


<!-- Blogs section-->
<!-- 
  ....
  ....
  ....
  ....
  ....
-->


{% endblock %}