{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
This is my porfolio
<section id="Home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>HOME</h3>
    <br>
<br>
<br>
<br>
<br>
this: &entity_name;. OR. &#entity_number;.
People also ask
How do you write '&' in HTML?
In HTML, the ampersand character (“&”) declares the beginning of an entity reference (a special character). If you want one to appear in text on a web page you should use the encoded named entity “ &amp; ”—more technical mumbo-jumbo at w3c.org.1 Aug 2010

How to use ampersands in HTML: to encode or not to encode?

Mr Coles
https://mrcoles.com › blog › how-use-amersands-html...
Search for: How do you write '&' in HTML?
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</section>

<section id="About">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>ABOUT</h3>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</section>

<section id="Skills">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>SKILLS</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
</section>

<section id="Resume">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>RESUME</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
</section>

<section id="Projects">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>PROJECTS</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
</section>

<section id="Contact">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>CONTACT</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
</section>

{% endblock %}