{% extends 'core/base.html' %}

{% block title %}{% endblock %}

{% block content %}


<!-- Home section-->

<section class="Home">
  <br>
  <br>
  <br>
  <div class="container mt-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-6 col-md-6 text-center">
        <img src="{{ official_image.official_image.url }}" class="official-img img-fluid" style= "border-radius: 4%;  width: 400px; height: 500px;" alt="official-image">
        <br>
      </div>
      <div class="col-sm-6 col-md-6 text-center">
        <br>
        <h1 class="name">Ian Maloba</h1>
        <div class="description">
          <p class="description">I'm a <span class="auto-type"></span></p>
        </div>
        <br>
        <p>#Download my CV Button#</p>
      </div>
    </div>
  </div>

  <script>
       var typed = new Typed(".auto-type", {
        strings: ["Full Stack Developer", "Software Engineer", "Freelancer"],
        typeSpeed: 50,
        backSpeed: 35,
        loop: true
       })
  </script> 

</section>


<!-- About section-->
    <br>
    <br>
    <br>
    <br>
    <br>
<section id="About">

<h2><span class="text-underline">ABOUT</span></h2>
<br>
<br>
<br>
<br>
<br>
</section>


<!-- Skills section-->

<section id="Skills">
<br>
<br>
<br>
<br>
<br>
<h2><span class="text-underline">SKILLS</span></h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Resume section-->

<section id="Resume">
<br>
<br>
<br>
<br>
<br>
<h2><span class="text-underline">RESUME</span></h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Projects section-->

<section id="Projects">
<br>
<br>
<br>
<br>
<br>
<h2><span class="text-underline">PROJECTS</span></h2>
<br>
<br>
<br>
<br>
<br></section>


<!-- Contact section-->

<section id="Contact">
<br>
<br>
<br>
<br>
<br>
<h2><span class="text-underline">CONTACT</span></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br></section>


<!-- Blogs section-->
<!-- 
  ....
  ....
  ....
  ....
  ....
-->


{% endblock %}