
    <h2><span class="text-underline">PROJECTS</span></h2>
    <div class="about-container mt-5">
      <div class="row justify-content-between align-items-center">
        <div class="row">
          {% for project in project_name %}
            <div class="col-sm-6 col-md-6 text-center">
              <div class="card">
                <img src="{{ project.project_image.url }}" class="card-img-top" alt="project-image" height="200px" width="250px">
                <div class="card-body">
                  <h5 class="card-title">{{ project.project_name }}</h5>
                  <hr>
                  <a href="{{ project.github_link }}" class="btn btn-primary" target="_blank">Github Link</a>
                  <a href="{{ project.live_link }}" class="btn btn-primary" target="_blank">Live Link</a>
                  <hr>
                  <p class="card-text">{{ project.project_short_description }}</p>
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>    
      </div>
      <br>
      <br>
      <br>
      {% for project in project_name %}
    
      {{ project.project_description }}
            <br>
            <br>
            <p><u>BELOW ARE TOOLS.... </u></p>
    
              {% for tool_lang in project.tools_and_lang.all %}
                  <p>{{ tool_lang.tools_name }}</p>
              {% endfor %}
        {% endfor %}
    </div>
